<div class="films">
    <div class="container">
        <p class='films__logo' href="#">Список фильмов {{ film.get_count_films }}</p>
    <div class="films__items">
        {% for item in list_films %}
        <div class="film__item">
            <a href="{% url 'discription_item' item.slug %}"><p class="film__name"> {{item.name}} </p></a>
            <a href="{% url 'discription_item' item.slug %}"><img class="film__photo"src="{{ item.photoURL }}" alt=""></a>
            <p style="text-align: center;">{{ item.years }} </p>

        </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                <span class="current">
                    <p class='pagination__page'>Страница {{ page_obj.number }}, всего {{ page_obj.paginator.num_pages }}.</p> 
               </span>
                {% if page_obj.has_previous %}
                    <a class='pagination__previous' href="?page={{ page_obj.previous_page_number }}">Назад</a>
                {% endif %}
        
                
                
                {% if page_obj.has_next %}
                    <a class='pagination__next'href="?page={{ page_obj.next_page_number }}">Вперёд</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
</div>